<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title"> history Table</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
              <th>
                File name
              </th>
              <th>
                annotation
              </th>
              <th>
                Cluster
              </th>
              <th class="text-right">
                result
              </th>
            </thead>
            <tbody>
              <tr>
                <td>
                  file 1
                </td>
                <td>
                  annotation 1
                </td>
                <td>
                  cluster 1
                </td>
                <td class="text-right">
                  <div>
                    <button class="btn btn-sm btn-outline-success btn-round btn-icon"><i class="fa fa-file-pdf-o"></i></button>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  file 2
                </td>
                <td>
                  annotation 2
                </td>
                <td>
                  cluster 2
                </td>
                <td class="text-right">
                  <div>
                    <button class="btn btn-sm btn-outline-success btn-round btn-icon"><i class="fa fa-file-pdf-o"></i></button>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  file 3
                </td>
                <td>
                  annotation 3
                </td>
                <td>
                  cluster 3
                </td>
                <td class="text-right">
                  <div>
                    <button class="btn btn-sm btn-outline-success btn-round btn-icon"><i class="fa fa-file-pdf-o"></i></button>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  file 4
                </td>
                <td>
                  annotation 4
                </td>
                <td>
                  cluster 4
                </td>
                <td class="text-right">
                  <div>
                    <button class="btn btn-sm btn-outline-success btn-round btn-icon"><i class="fa fa-file-pdf-o"></i></button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
