<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title"> history Table</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
              <th>
                  visualisation Id
              </th>
              <th>
                orginal file
                
              </th>
              <th>
                result file
              </th>
              <th>
                Json file
              </th>
              <th>
                visualisation
              </th>
            </thead>
            <tbody>
              <tr *ngFor="let item of newArray; let i = index">
                <td>{{i}}</td>
                <td>
                  <button class="btn btn-sm btn-outline-success btn-round " (click)="dowloadFile('uploads/', item +'.csv' )">Download File</button>
                </td>
                <td>
                  <button class="btn btn-sm btn-outline-success btn-round " (click)="dowloadFile('results/', item +'.csv' )">Download result</button>
                </td>
                <td>
                  <button class="btn btn-sm btn-outline-success btn-round " (click)="dowloadFile('json', item +'.json')">Download JSON</button>
                </td>
                <td>
                  <button class="btn btn-sm btn-outline-success btn-round " (click)="visualize( item +'.json' )">Visualisation</button>
                </td>
                <!-- <td>
                  annotation 2
                </td>
                <td>
                  cluster 2
                </td> -->
                <!-- <td class="text-right">
                  <div>
                    <button class="btn btn-sm btn-outline-success btn-round btn-icon"><i class="fa fa-file-pdf-o"></i></button>
                  </div>
                </td> -->
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
