
<link
rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
crossorigin="anonymous"
referrerpolicy="no-referrer"
/>
<!-- <app-nav-bar></app-nav-bar> -->
<div class="container">
  <div class="row">
    <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
      <div class="panel border bg-white">
        <div class="panel-heading">
          <h3 class="pt-3 font-weight-bold">Register</h3>
        </div>
        <div class="panel-body p-3">
          <form (ngSubmit)="addUser(userForm.value)" [formGroup]="userForm">
            <div class="form-group py-2">
              <div class="input-field">
                <span class="far fa-user p-2"></span>
                <input type="text" id="firsname" formControlName="firstname" placeholder="Enter your first name"  [(ngModel)]="loginObj.firstname" required/>
                
              </div>
            </div>
            <div class="form-group py-2">
              <div class="input-field">
                <span class="far fa-user p-2"></span>
                <input type="text" id="lastname" formControlName="lastname" placeholder="Enter your last name"  [(ngModel)]="loginObj.lastname" required/>
                
              </div>
            </div>
            <div class="form-group py-2">
            <div class="input-field">
              <span class="fas fa-envelope  p-2"></span>
              <input type="email" id="email" formControlName="email" placeholder="Enter  Email"  [(ngModel)]="loginObj.email" required/>
              <div *ngIf="userForm.controls.email.invalid && (userForm.controls.email.dirty || userForm.controls.email.touched)">
                <div *ngIf="loginObj.email.errors.email">
                  Please enter a valid email address.
                </div>
                <div *ngIf="userForm.controls.email.errors.required">
                  Email is required.
                </div>
              </div>
            </div>
          </div>
            <div class="form-group py-1 pb-2">
              <div class="input-field">
                <span class="fas fa-lock px-2"></span>
                <input type="password" id="password" placeholder="password" formControlName="password" [(ngModel)]="loginObj.password" required />
             
                <div *ngIf="userForm.controls.password.invalid && (userForm.controls.password.dirty || userForm.controls.password.touched)">Password is required.
                </div>
            </div>
            </div>
            <div class="form-group py-1 pb-2">
              <div class="input-field">
                <span class="fas fa-lock px-2"></span>
                <input type="password" id="password" placeholder="confirm password" formControlName="password" [(ngModel)]="loginObj.passconf" required />
            </div>
            </div>
            <div class="d-flex align-items-center justify-content-between">
                
                  <div >
                    <button class="btn btn-danger" routerLink="/login" type="button">return</button>
                  </div>
                  <div >
                    <button class="btn btn-success" type="submit" [disabled]="!userForm.valid">Log In</button>
                  </div>
                 
            </div>
            
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
